.title-1 h1{
    margin-top: 100px;
}
.form-input{
    border: 1px solid rgba(0, 0, 0, 0.096);
    border-radius: 10px;
    padding: 10px;

}
.form-input form{
    background-color: rgb(242, 255, 240);
}
.form-input h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

